<%= form_for [current_user, @place] do |f| %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <!-- I generally try to avoid instantiating new objects or doing too much ruby
      in the view, so I'd suggest moving this (and the suckr.get_image_url calls
      to the controller or helper methods
  -->

	<%  %>

	<div class="img_picker">
    <% @image_urls.each_with_index do |image_url, index| %>
		  <option data-img-src="<%= image_url %>" value="<%= index %>" class="picked_img"><%= "Picture #{index}" %></option>
    <% end %>
	</div>

  <button type="button" class="img_button">Add Image!</button>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :note %>
  <%= f.text_field :note %>

  <%= f.submit %>

<% end %>

<script>
// Options for the image picker
$(".img_picker").imagepicker({
    show_label  : false
});

// Event listener for the image picker button
$(".img_button").click(function () {
	place = $("#place_location").val();
	// alert( $(".selected > img").attr('src') );
	img = $(".selected > img").attr('src');
	$("#place_photo_url").val(img);
})
</script>
