<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if session[:user] %>
    <a href="/sign_out"><%= session[:user]["username"] %>: Sign Out</a></h2>
    <%= link_to "Add Place", new_user_place_path(session[:user]["id"]) %>
  <% else %>
    <a href="/sign_up">Sign Up</a>
    <a href="/sign_in">Sign In</a>
  <% end %>
  <!-- <a href="/places">Find Places</a> -->
  <a href="/">Home</a>
  
</nav>

<h2><%= flash[:notice] %>

<%= yield %>

</body>
</html>
